*.pt
*.pkl
**/__pycache__/

/.venv/
/out/

/.envrc
/TODO.md

/scripts/
/datasets/FFHQ*

# Large binaries / data
*.npz
pretrained_networks/
**/pretrained_networks/
specialists/
**/specialists/
robust-unsupervised-clean/
.DS_Store
.vscode/

